.content {
  left: 50%;
  font-size: 35px;
  line-height: 40px;
  color: #203670;
}

.visible {
  font-weight: 600;
  text-align: center;
}
.visible:before {
  left: 0;
  line-height: 40px;
}
.visible:after {
  position: absolute;
  right: 0;
  line-height: 40px;
}
.visible:after, .visible:before {
  position: absolute;
  top: 0;
  color: #16a085;
  font-size: 42px;
}

#name {
  display: inline;
  margin-top: 0;
  text-align: center;
  list-style: none;
  line-height: 40px;
  -webkit-animation-name: change;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: change;
  -moz-animation-duration: 6s;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: change;
  -o-animation-duration: 6s;
  -o-animation-iteration-count: infinite;
  -ms-animation-name: change;
  -ms-animation-duration: 6s;
  -ms-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  width: 100%;
}


.jboss-bar
{
	font-size:20px;
	color:#fff;
	padding:2% 0px;
	width:100%;
	background:#263238;
	text-align:center;
	position: relative;
}

.jboss-page
{
	width:100%;
	text-align: center;
}

.jboss-page .jboss-main
{
	display: inline-block;
	width:500px;
	height:auto;
	background: #fff;
	border-radius:3px;
	box-shadow: 0px 0px 2px lightgray;
	margin: 20px 0px;
}
.jboss-page .jboss-main .jboss-list
{
	height:auto;
	width:100%;
}
.jboss-list-item
{
	width:100%;
	border-bottom:3px solid #F5F5F5;
	height:60px;
	transition: all 500ms ease;
	overflow: hidden;
}
.jboss-contrib-icon , .jboss-contrib-name
{
display:inline-block;
vertical-align: middle;
margin:5px 0px;
}
.jboss-contrib-icon
{
	width:50px;
	height:50px;
	border-radius: 100%;
	background-color: lightgray;
	overflow: hidden;
}
.jboss-contrib-name
{
	width:400px;
	height:23px;
	font-size:18px;
	text-align: left;
	color:#707070;
	overflow-wrap: inherit;
	overflow: hidden;
	margin-left:10px;
}
.jboss-list-item:hover
{
	height:140px;
}
.jboss-user-attribs
{
	display: block;
	margin-left: 80px;
	font-size:15px;
	color:#808080;
	text-align: left;
}
.number
{
	color:#404040;
}
.jboss-user-attribs a
{
	text-decoration: none;
	color:#1E90FF;
}
.total-prs
{
	position: absolute;
	top:0;
	left:0;
	width:120px;
	height:100%;
	color:#fff;
}
.total-prs .text1
{
	font-size: 13px;
	margin-top: 10px;
}
.total-prs .text2
{
	font-size: 20px;
}
.total-prs .text1 , .total-prs .text2
{
	display:inline-block;
	width:100%;

